<div class="row">

  <div class="col-xs-6 margin-left">
    <div class="sign-up">
      <div class="row">
        <div class="col-xs-8">
          <div class="heading">Hello friend!</div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="row">
        <div class="col-xs-4">
          <div class="social-signup">
            <span class="facebook">
              <img src="../../assets/facebook.png" alt="">
            </span>
            <span class="google">
              <img src="../../assets/google.png" alt="">
            </span>
          </div>
          <form>
            <h3 class="suggest">or use your email address</h3>

            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
            </div>

            <div class="input-container">
              <i class="fa fa-eye icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="psw">
            </div>

            <input type="checkbox" class="remember-me">
            <label class="checkbox-label">&nbsp;Remember me</label>
            <a href="#" class="fgt-pwd">forgot password?</a>
            <button type="submit" class="btn">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-6 app-bg">
    <div class="sign-in-placeholder">
      <div class="app-logo">
        <img src="../../assets/Logo white.svg" alt="Fresh Prints">
        <!-- <img src="../../assets/Logo white.svg" alt="Fresh Prints">
        <img src="../../assets/Left Circle.png" style="position: relative; left: 392px;">
        <img src="../../assets/Left Group 13.png" style="position: relative; left: -163px; top: -120px;">
        <img src="../../assets/Left Oval Copy 2.png" style="position: absolute; top: 0em;">
        <img src="../../assets/Left Oval Copy 6.png" style="position: relative; bottom: -589px; left: -225px;" >
        <img src="../../assets/Oval Copy 7 Left.png" style="position: relative; left: -234px; top: -162px;" >
        <img src="../../assets/tablate.png" style="position: absolute; left: 43.2em; top: 41em; transform: scaleX(-1);"> -->
      </div>
      <div class="enquiry">
        Don't have an account?
      </div>
      <div class="separator"></div>
      <div class="message">
        Fill in some basic info so that we get to know you.
      </div>
      <div class="sign-in-switch">
        <a routerLink="/sign-up">
        <button>
          Sign up
        </button>
        </a>
      </div>
    </div>
  </div>

</div>
